html {
    height: 100%;
    overflow-x: hidden;
}

body {
    width: inherit;
    height: inherit;
    margin: 0;
}

main {
    width: inherit;
    height: inherit;
}

section {
    /*border: solid;*/
}

.s-sm {
    width: 100%;
    height: 25%;
    background-image: url("../img/discount.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

.s-md {
    width: 100%;
    height: 50%;
}

.s-xmd {
    width: 100%;
    height: 65%;   
}

.s-lg {
    width: 100%;
    height: 120%;
}

.banner {
    display: grid;
    grid-template-columns: repeat(2, auto);
    background-color: #DDD5C8;
}

.banner h1 {
    grid-row: 1;
    grid-column: 1;
    color: #354249;
    font-family: 'DM Serif Text';
    font-size: xx-large;
    margin-left: 20px;
    margin-block-end: 0;
}

.banner span {
    grid-row: 2;
    grid-column: 1;
    color: #354249;
    font-family: 'DM Serif Text';
    font-size: large;
    margin-left: 20px;
    margin-block-end: 0;
}

.banner .filter {
    display: flex;
    grid-row: 1;
    grid-column: 2;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin: 1em;

}

.banner .filter span{
    color: #354249;
    font-family: 'DM Serif Text';
    font-size: large;
    margin-right: 20px;
}

.shop {
    display: grid;
    grid-template-rows: repeat(10, auto);
    align-items: stretch;
}

.type {
    display: flex;
    background-color: #354249;
    align-items: center;
    justify-content: space-evenly;
}

.type ul {
    display: flex;
    justify-content: space-evenly;
    margin-block-end: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
    width: 100%;
}

.type ul li {
    text-decoration: none;
    display: inline-block;
}

.type ul li img {
    width: 3em;
    height: 3em;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

img:hover {
    transform: translateY(-0.2em);
}

.products {
    display: grid;
    grid-row: span 8;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    gap: 1em;
    padding: 1em 1em 1em 1em;
}

.product {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    /*border: solid 0.1em whitesmoke;*/
}

.product button {
    padding: 0.8em 3em;
    margin-bottom: 1em;
    cursor: pointer;
    border: unset;
    background-color: #354249;
    color: whitesmoke;
    border-radius: 0.2em;
    letter-spacing: 0.1em;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease 0s;
    font-family: 'DM Serif Text';
    font-size: large;
}

.product button:hover {
    background-color: #5a717e;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: x-large;
    transform: translateY(-0.4em);
}


.offer {
    border: solid 0.1em rgb(179, 177, 177);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.offer p {
    margin-left: 20px;
}

.last-units {
    height: 80%;
    display: grid;
    gap: 1em;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(4, auto);
}

.last-units .products {
    grid-row: span 2;
    grid-column: span 4;
}

.last-units .products .product {
    grid-row: span 2;
}

/**PRODUCTOS**/
.p1 {
    background-image: url("../img/jacket1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

.p2 {
    background-image: url("../img/jacket2.jpg");
    background-size: cover;
    background-position: center; 
}

.p3 {
    background-image: url("../img/jacket3.jpg");
    background-size: cover;
    background-position: center; 
}

.p4 {
    background-image: url("../img/jacket4.jpg");
    background-size: cover;
    background-position: center; 
}

.p5 {
    background-image: url("../img/jacket5.jpg");
    background-size: cover;
    background-position: center; 
}

.p6 {
    background-image: url("../img/jacket6.jpg");
    background-size: cover;
    background-position: center; 
}

.p7 {
    background-image: url("../img/jacket7.jpg");
    background-size: cover;
    background-position: center; 
}

.p8 {
    background-image: url("../img/jacket8.jpg");
    background-size: cover;
    background-position: center; 
}

.showMore {
    display: flex;
    justify-content: center;
}

.showMore button {
    padding: 1em 1em;
    margin-bottom: 0.5em;
    cursor: pointer;
    border: unset;
    background-color: #8E5544;
    color: whitesmoke;
    border-radius: 0.2em;
    letter-spacing: 0.1em;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease 0s;
    font-family: 'DM Serif Text';
    font-size: large;
}

h1 {
    font-family: 'DM Serif Text';
    font-size: xx-large;
    margin-left: 20px;
}

p {
    font-family: 'DM Serif Text';
    font-size: larger;
}

.showMore2 button {
    padding: 0.5em 1.5em;
    margin-bottom: 0.5em;
    margin-left: 20px;
    cursor: pointer;
    border: unset;
    background-color: #354249;
    color: whitesmoke;
    border-radius: 0.2em;
    letter-spacing: 0.1em;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease 0s;
    font-family: 'DM Serif Text';
    font-size: large;
}

.po1 {
    background-image: url("../img/Sueter1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

.po2 {
    background-image: url("../img/Sueter2.png");
    background-size: cover;
    background-position: center; 
}

.po3 {
    background-image: url("../img/Sueter5.png");
    background-size: cover;
    background-position: center; 
}

.po4 {
    background-image: url("../img/Sueter6.png");
    background-size: cover;
    background-position: center; 
}

.productsOffer button {
    padding: 0.8em 3em;
    margin-bottom: 1em;
    cursor: pointer;
    border: unset;
    background-color: #8E5544;
    color: whitesmoke;
    border-radius: 0.2em;
    letter-spacing: 0.1em;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease 0s;
    font-family: 'DM Serif Text';
    font-size: large;
}
